:root {
  --color_blue: #0d2d53;
  --color_red: #c5204b;
  --color_grey_light: color-mix(#e5e5e5, mix(#e5e5e5, #ffffff, 40%));
  --color_grey_med: #6d6d6d;
  --color_black: #000000;
  --color_white: #ffffff;

  --space_3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --space_2xs: clamp(0.5rem, 0.4783rem + 0.1087vw, 0.5625rem);
  --space_xs: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
  --space_s: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --space_m: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
  --space_l: clamp(2rem, 1.913rem + 0.4348vw, 2.25rem);
  --space_xl: clamp(3rem, 2.8696rem + 0.6522vw, 3.375rem);
  --space_2xl: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
  --space_3xl: clamp(5rem, 4.7826rem + 1.087vw, 5.625rem);
  --page_gutters: clamp(var(--space_m), 3vw, var(--space_xl));
  --page-max: 80rem;

  --font-size: 16px;

  --color-bg: var(--color_white);
  --color-text: var(--color_black);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-size: 1.25rem;
}
