---
import "@styles/global.css";
import DocumentHead from "@components/DocumentHead.astro";
import Layout from "@layouts/EFRLayout.astro";

const title = "About the Board";
const description = "Re-Elect Elizabeth O'Connor for the University of Nebraska Board of Regents in District 4.";
const permalink = "https://elizabethforregent.com";
const page = "home";
---

<html lang="en">
    <DocumentHead
        title={title}
        description={description}
        permalink={permalink}
    />
    <body>
        <Layout page={page}>
            <h1 class="title" style="text-transform: none;">RE-ELECT Elizabeth O'Connor for the Board of Regents</h1>
            <p>
                I'm running
            </p>
        </Layout>
    </body>
</html>
