---
import "@styles/global.css";
import DocumentHead from "@components/DocumentHead.astro";
import Layout from "@layouts/EFRLayout.astro";
import BreakoutFlow from "@components/BreakoutFlow.astro";
import SplitScreenHeader from "@components/SplitScreenHeader.astro"

const title = "Meet Elizabeth!";
const description = "Re-Elect Elizabeth O'Connor for the University of Nebraska Board of Regents in District 4.";
const permalink = "https://elizabethforregent.com";
const page = "home";
---

<html lang="en">
    <DocumentHead
        title={title}
        description={description}
        permalink={permalink}
    />
    <body>
        <Layout page={page}>
            <BreakoutFlow>
            <p>I love dogs</p>
            </BreakoutFlow>
        </Layout>
    </body>
</html>
