---

---

<div class="cta-actions">
  <a class="button-link" href="/issues" target="_blank">The Issues</a>
  <a class="button-link donate" href="https://contact.elizabethforregent.com" target="_blank">Donate</a>
</div>


<style>
.cta-actions {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  > a.button-link {
    width: min(15rem, 50%);
  }
}
</style>
