---
const buildDate = new Date();
---

<footer class="site-footer breakout">
    <spanp>Paid for by Elizabeth O'Connor For Regent</spanp>
    <span>13110 Birch DR STE 148, PMB 182, Omaha, NE 68164</span>
</footer>

<style>
    .site-footer {
        position: sticky;
        padding-block: var(--space_2xl);
        margin-block: var(--page_gutters) var(--space_xl);
    }
</style>
