---
const buildDate = new Date();
---

<footer class="site-footer breakout">
    <span>Paid for by Elizabeth O'Connor For Regent</span>
    <span>13110 Birch DR STE 148, PMB 182, Omaha, NE 68164</span>
</footer>

<style>
  .site-footer {
    background-color: var(--color_blue);
    color: white;
    font-size: 11px;
    margin-block: var(--page_gutters) 0;
    padding-block: var(--space_2xl);
    position: sticky;
  }
</style>
