---
import { Image } from "astro:assets";
import efrCampaignLogo from "../images/efr-logo.svg";
---

<header class="site-header">
  <a class="logo-container" href="/">
    <Image src={efrCampaignLogo} alt="Elizabeth O'Connor for Board of Regents Campaign Logo"/>
  </a>
  <nav class="cluster">
      <!-- <ul class="cluster" role="list">
          <li>
            <a href="/issues/">The Issues</a>
          </li> -->
          <li>
            <a href="/meet_elizabeth/">About Elizabeth</a>
          </li>
          <li>
            <a class="button-link donate" href="https://contact.elizabethforregent.com" target="_blank" style="width: 7.875rem;">Donate</a>
          </li>
      </ul>
  </nav>
</header>

<style>
    .site-header {
        position: sticky;
        display: flex;
        grid-template-columns: auto 1fr;
        height: 219px;
        justify-content: space-between;
        padding-inline: var(--page_gutters);
        margin-block: var(--page_gutters) var(--space_l);
        width: 100%;
        z-index: 1;

        a {
            display: grid;
            place-items: center;
            place-content: center;
            text-decoration: none;
        }
        img {
          display: inline;
          object-fit: contain;
          width: 273px;
          height: 125px;
        }
    }

    ul {
      padding-left: 0px;
    }

    ul > li {
        list-style: none;
    }
</style>
