---
---

<div class="popout-box">
<slot></slot>
</div>

<style>
.popout-box {
  background-color: var(--color_red);
  border-radius: 30px;
  color: var(--color_white);
  grid-column: popout;
  padding: 3.125rem 6.25rem;
}
</style>
