---
---

<div class="popout-box">
<slot></slot>
</div>
<div class="contact-trapezoid-container">
<div class="triangle" />
  <div class="contact-footer breakout">
    <div class="contact-container">
      <div class="contact-description">
        <h3>Join The Campaign</h3>
        <span>Interested in joining the team?</span>
        <br>
        <span>Sign up to volunteer today.</span>
      </div>
    </div>
  </div>
</div>

<style>
.popout-box {
  background-color: var(--color_red);
  border-radius: 30px;
  color: var(--color_white);
  grid-column: popout;
  padding: 3.125rem 6.25rem;
  z-index: 1;
}

.contact-trapezoid-container {
  background-color: var(--color_grey_light);
  grid-column: full;
  margin-top: -200px;
}

.triangle {
  clip-path: polygon(100% 0, 0 0, 0 100%);
  width: 0;
  height: 0;
  border-top: 200px solid white;
  border-right: 100vw solid var(--color_grey_light);
  grid-column: full;
}

.contact-footer {
  background-color: var(--color_grey_light);
  margin-block: 100px 100px;
}

.contact-container {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
}
</style>
