---

---

<div class="split-header">
<slot />
</div>


<style>
  .split-header {
    background-color: var(--blue_00);
    color: var(--base_0f);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: full-start/full-end;
  }
</style>
