---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@fontsource-variable/nunito-sans";
import "@fontsource/libre-caslon-text";
---

<Header />
<main>
    <slot />
</main>
<Footer />
